# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Virtual environments
venv/
my_venv/
env/

# PyTorch / ML artifacts (optional)
*.pt
*.pkl

# Docker
postgres_data/
*.log

# VSCode
.vscode/
